


body {
  background-color: #e0e0e0;
  font-family: 'Open Sans', sans-serif;
}


.LEQ {
  margin-left: 10px;
  margin-right: 10px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  width: 50px;
  border: 1px solid black;
  outline: none;
  border-radius: 4px;
  text-align: center;
}

select {
  border: 1px solid black;
  outline: none;
  border-radius: 4px;
  text-align: center;
}

#title {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #314B7F;
  text-align: center;
  color: white;
  line-height: 50px;
  letter-spacing: 2px;
}

#instructions {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  min-height: 225px;
  margin-bottom: 10px;;
}

#instructions p {
  margin: 5px;
}

/* tableaus */

#table_container {
  width: 70%;
  margin: 0 auto;
}

.tableau, .varTable {
  width: 100%;
  table-layout: fixed;
  margin: 25px auto;
  border-collapse: collapse;
}

.tableau td, .varTable td {
  height: 30px;
  text-align: center;
  border: 0;
  border-collapse: collapse;
  border-bottom: 1px solid #a3a3a3;
}

.header {
  background-color: #5780c1;
  color: #ffffff;
}

.counter {
  background-color: #2aaf73;
  color: #ffffff;
}

.pivotRow {
  background-color: #a4f751;
}

.enteringVarHead {
  background-color: #8e2218;
}

.warning {
  text-align: center;
  padding: 10px;
  background-color: #e4f477;
}

.warning p {
  margin: 0;
}

#notifications-container {
  width: 60%;
  margin: 0 auto;
}

.notification {
  text-align: center;
  padding: 10px;
  background-color: #ff5959;
  margin-bottom: 10px;
  border-radius: 5px;
}

.notification p {
  margin: 0;
}

#first-input-container {
  border-radius: 10px;
  background-color: #C5D7FF;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 30px;
  padding: 0 10px;
}

#first-input-container p {
  margin: 15px 0;
}

/* #first-input-container input {
  border: 1px solid black;
  outline: none;
  border-radius: 4px;
  text-align: center;
} */

#first-input-submit-button, #second-input-submit-button, #second-input-empty-button, #second-input-restart-button {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  background-color: #4E78CC;
  color: white;
  user-select: none;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#big-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#second-input-container {

  background-color: #C5D7FF;
  margin: 0 auto;
  min-width: 60%;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 0 10px;
}

#second-input-container p {
  margin: 15px 0;
}

/* inputs */

#inputs_array {
  width: 100%;
  margin: 0 auto;
  min-height: 200px;
}

#inputsTable {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid black;
  border-collapse: collapse;
}

#inputsTable td {
  min-width: 40px;
  padding: 3px;
  text-align: center;
  border: 1px solid black;
}

#inputsTable input {
  width: 100%;
  margin: 0 auto;
}

/* buttons */

#buttons-holder {
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

#buttons-holder li {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  background-color: #d4ffc1;
  user-select: none;
  border: 1px solid #42f4b9;
}

#erase-cols, #erase-rows, #reset-table, #artificial-button {
  margin-right: 20px;
}

#minMax {
  margin-right: 20px;
}
